<nav class="sidebar">

  <div class="section-title">GENERAL</div>
  <ul>
    <li routerLink="/contacts" routerLinkActive="active">
      <span>Contacts</span>
    </li>

    <li routerLink="/miles" routerLinkActive="active">
      <span>Miles</span>
    </li>
  </ul>

  <div class="section-title">FINANCE</div>
  <ul>
    <li routerLink="/invoices" routerLinkActive="active">
      <span>Invoices</span>
    </li>

    <li routerLink="/payments" routerLinkActive="active">
      <span>Payments</span>
    </li>
  </ul>

</nav>
